.lessoncard{
    background-color: white;
    color: #3C0B56;
    text-align: left !important;
    box-shadow: 1px 1px 10px 1px #b889d2;
}

.lesson{
    max-height: 250px;
}

.arrowclr,.clrcrd{
    color: #3C0B56;
}

@media (max-width:425px){
    .lesson{
        max-height: 150px;
        max-width: 250px;
    }
    .lessonview{
        display: flex;
        flex-direction: column;
    } 
}
@media (min-width:426px) and (max-width:768px){
    .lesson{
        height: 150px;
    } 
}

@media (min-width:769px){
    .lesson{
        height: 170px;
        width: 270px;
    } 
    .lessonview{
        display: flex;
        flex-direction: row;
        color: #6705AD;
    }
}